# Dataset-specific files
dataset_config/*
!dataset_config/test_dataset
!dataset_config/template
# Most 1000 Genomes config files are in data-explorer-indexers repo.
# (ui.json is in this repo since it's only used by this repo.)
# Only store ui.json; eg we don't want to maintain 2 copies of dataset.json.
!dataset_config/1000_genomes/ui.json
!dataset_config/1000_genomes/README.md

api/app.yaml

*.py[cod]
*$py.class
build/
dist/
.pytest_cache/

*.settings
client_secrets.json
swagger-codegen-cli.jar
config.json

.venv
venv/
.tox/
*.egg-info

# compiled output
/ui/dist
/ui/tmp
/ui/out-tsc

# dependencies
/ui/node_modules
/ui/src/api/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
.idea/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# e2e
/ui/e2e/*.js
/ui/e2e/*.map
