# Dataset-specific files
dataset_config/*
!dataset_config/template
!dataset_config/1000_genomes
dataset_config/1000_genomes/deploy.json
dataset_config/1000_genomes/private-key.json

api/app.yaml

*.py[cod]
*$py.class
build/
dist/
.pytest_cache/

*.settings
client_secrets.json
swagger-codegen-cli.jar
config.json

.venv
venv/
.tox/
*.egg-info

# compiled output
/ui/dist
/ui/tmp
/ui/out-tsc

# dependencies
/ui/node_modules
/ui/src/api/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
*.iml
.idea/

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# e2e
/ui/e2e/*.js
/ui/e2e/*.map
