@import "libs/fonts/Montserrat.css";

/* Keep in sync with saturn-ui */
body,
input,
textarea,
select,
button {
  font-family: "Montserrat", sans-serif;
  /*
Turn off tabular-nums for now, font pre-loading doesn't work with it.
Melissa will investigate if we can turn back on.
  font-variant-numeric: tabular-nums;
*/
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
