/* Copied from terra-ui style.css */

@import "libs/fonts/Montserrat.css";

body,
input,
textarea,
select,
button {
  font-family: "Montserrat", sans-serif;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

/* Needed for common.js buttonPrimary */
*,
*::before,
*::after {
  box-sizing: border-box;
}
