@import "libs/fonts/Montserrat.css";

/* Keep in sync with saturn-ui */
body,
input,
textarea,
select,
button {
  font-family: "Montserrat", sans-serif;
  font-variant-numeric: tabular-nums;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}
