version: 2
jobs:
  build:
    # Use machine executor because docker executor does not support volumes and
    # ports in docker-compose.yml
    # (https://circleci.com/docs/2.0/docker-compose/).
    machine:
      image: circleci/classic:latest
    steps:
      - checkout
      - restore_cache:
          key: node-modules-{{ .Branch }}-{{ checksum "ui/package.json" }}
      - run:
          name: "Switch to Python v3.8"
          command: |
            pyenv versions
            pyenv global 3.8.0
      - run:
          name: npm install
          command: |
            cd ui
            npm install
            # As of 5/1/19, circleci/classic:latest has node 6.1.0. async is
            # not supported until node 7.6.0.
            npm install node@8.11.1 -g
      - save_cache:
          key: node-modules-{{ .Branch }}-{{ checksum "ui/package.json" }}
          paths:
            - "ui/node_modules"
      - run:
          name: Run the yapf python linter
          command: |
            pip install yapf
            yapf -dr . --exclude ui/node_modules/
      - run:
          name: Run the UI linter
          command: cd ui && npm run lint
      - run:
          # This will fail if there are js warnings
          name: Check for Javascript warnings
          command: cd ui && npm run build
      - run:
          name: Run API server unit tests
          command: |
            # Some files are missing because of .gitignore
            echo '{"project_id": "ci-test-data-explorer"}' > dataset_config/1000_genomes/deploy.json
            echo ${GOOGLE_SERVICE_KEY} > dataset_config/1000_genomes/private-key.json
            echo '{"project_id": "ci-test-data-explorer"}' > dataset_config/framingham_heart_study_teaching/deploy.json
            echo ${GOOGLE_SERVICE_KEY} > dataset_config/framingham_heart_study_teaching/private-key.json
            # Needed to prevent https://github.com/erikrose/more-itertools/issues/272
            pip install --upgrade pip
            pip install tox
            cd api
            tox -e py38
      - run:
          name: Run docker-compose for 1000 genomes dataset
          command: |
            # Set GOOGLE_APPLICATION_CREDENTIALS so GCP client libraries (such as reading export bucket) work.
            GOOGLE_APPLICATION_CREDENTIALS="dataset_config/1000_genomes/private-key.json" docker-compose up --build -d
      - run:
          name: Run e2e tests for 1000 Genomes dataset
          command: |
            cd ui && npm test
      - run:
          name: Run docker-compose for framingham heart study teaching dataset
          command: |
            # Set GOOGLE_APPLICATION_CREDENTIALS so GCP client libraries (such as reading export bucket) work.
            GOOGLE_APPLICATION_CREDENTIALS="dataset_config/framingham_heart_study_teaching/private-key.json" \
            DATASET_CONFIG_DIR=dataset_config/framingham_heart_study_teaching \
            docker-compose up --build -d
      - run:
          name: Run e2e tests for Framingham Heart Study teaching dataset
          command: |
            cd ui && npm run test-framingham
