.facetCard {
  margin: 2%;
  padding-bottom: 8px;
}

.facetValueName {
  float: left;
  text-align: left;
}

.facetValueCount {
  float: right;
  text-align: right;
}

.cardHeader {
  padding: 15px;
}

.subHeader {
  margin-top: 5px;
  color: gray;
}

.totalCount {
  float: left;
}

.numberSelected {
  float: right;
}

.grayText {
  color: silver !important;
}
