.facetCard {
  margin: 2%;
  padding-bottom: 8px;
}

.cardHeader {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
}

.totalFacetValueCount {
  color: gray;
  float: right;
}

.facetValueName {
  float: left;
  text-align: left;
}

.facetValueCount {
  float: right;
  text-align: right;
}

.grayText {
  color: silver !important;
}
