.toolbar {
  background-color: #553a70 !important;
  height: 100px !important;
  margin-bottom: 15px;
}

.datasetName {
  color: white !important;
  font-size: 30px !important;
  font-weight: bold;
  padding-left: 30px;
}

.participantCountBox {
  color: white !important;
}

.totalCountText {
  font-size: 25px !important;
  text-align: right;
}

.separator {
  color: white !important;
  background-color: white !important;
  margin-left: 15px;
  margin-right: 15px;
}
