cachetools==3.0.0
certifi==2018.10.15
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==1.1.13
elasticsearch==7.7.0
elasticsearch_dsl==7.2.0
Flask==1.0.2
functools32==3.2.3.post2
futures==3.2.0
google-api-core==1.5.2
google-auth==1.6.1
google-cloud-core==0.28.1
google-cloud-storage==1.10.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.5
gunicorn==19.7.1
httplib2==0.12.0
idna==2.7
inflection==0.3.1
ipaddress==1.0.22
itsdangerous==1.1.0
Jinja2==2.10
jsmin==2.2.2
jsonschema==2.6.0
MarkupSafe==1.1.0
oauth2client==4.1.2
pathlib==1.0.1
protobuf==3.6.1
pyasn1-modules==0.2.2
pyasn1==0.4.4
python-dateutil==2.7.5
pytz==2018.7
PyYAML==4.2b1
requests==2.21.0
rsa==4.0
six==1.11.0
swagger-spec-validator==2.4.1
typing==3.6.6
urllib3==1.24.2
Werkzeug==0.15.3
