attrs==19.3.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==1.1.13
elasticsearch==6.1.1
elasticsearch-dsl==6.2.1
Flask==1.1.1
Flask-Cors==3.0.3
google-api-core==1.14.3
googleapis-common-protos==1.6.0
google-auth==1.6.3
google-cloud-core==0.28.1
google-cloud-storage==1.10.0
google-resumable-media==0.4.1
gunicorn==19.9.0
httplib2==0.14.0
idna==2.8
importlib-metadata==0.23
inflection==0.3.1
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.10.3
jsmin==2.2.2
jsonschema==3.1.1
MarkupSafe==1.1.1
more-itertools==7.2.0
oauth2client==4.1.2
pathlib==1.0.1
protobuf==3.10.0
pyasn1==0.4.7
pyasn1-modules==0.2.7
pyrsistent==0.15.4
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
rsa==4.0
six==1.12.0
swagger-spec-validator==2.4.3
typing==3.7.4.1
urllib3==1.22
Werkzeug==0.16.0
zipp==0.6.0
