attrs==19.3.0
cachetools==3.1.1
certifi==2019.9.11
chardet==3.0.4
Click==7.0
clickclick==1.2.2
connexion==1.1.13
elasticsearch==7.7.1
elasticsearch_dsl==7.2.0
Flask==1.1.1
Flask-Cors==3.0.3
google-api-core==1.19.0
google-auth==1.16.1
google-cloud-container==0.5.0
google-cloud-core==1.3.0
google-cloud-storage==1.28.1
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
gunicorn==20.0.4
httplib2==0.14.0
idna==2.8
importlib-metadata==0.23
inflection==0.3.1
ipaddress==1.0.23
itsdangerous==1.1.0
Jinja2==2.10.3
jsmin==2.2.2
jsonschema==3.1.1
kubernetes==11.0.0
MarkupSafe==1.1.1
oauth2client==4.1.2
pathlib==1.0.1
protobuf==3.10.0
pyasn1-modules==0.2.7
pyasn1==0.4.7
python-dateutil==2.8.0
pytz==2019.3
PyYAML==5.1.2
requests==2.22.0
rsa==4.0
six==1.12.0
sqlparse==0.3.1
swagger-spec-validator==2.4.3
typing==3.7.4.1
urllib3==1.24.2
Werkzeug==0.16.0
